[Unit]
Description=Provides slack mr_dictionary which gives wrong definitions
After=network.target

[Service]
Type=simple
User=kyle
ExecStart=/usr/local/bin/python3.6 /home/kyle/mr_dictionary/mr_dictionary.py
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target